<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" href="js/bootstrap.min.css">
<link rel="stylesheet" href="js/bootstrap-theme.min.css">
<script src="js/bootstrap.min.js"></script>
<script src="js/angular.min.js"></script>
<script src="js/angular-animate.js"></script>
<script src="js/ui-bootstrap-tpls-1.1.2.min.js"></script>
<script>
var app = angular.module('myApp', ['ui.bootstrap']);
app.controller('companiesCtrl', function($scope, $http,$uibModal, $log) {

	  $scope.animationsEnabled = true;

	  $scope.open = function (size,company) {

	    var modalInstance = $uibModal.open({
	      animation: $scope.animationsEnabled,
	      templateUrl: 'myModalContent.html',
	      controller: 'ModalInstanceCtrl',
	      scope: $scope,
	      size: size,
	      resolve: {
	        selectedCompany: function () {
	          return company;
	        }
	      }
	    });

	    modalInstance.result.then(function (selectedItem) {
	      $scope.selected = selectedItem;
	    }, function () {
	      $log.info('Modal dismissed at: ' + new Date());
	    });
	  };

	  $scope.toggleAnimation = function () {
	    $scope.animationsEnabled = !$scope.animationsEnabled;
	  };	
	
	  $http.get("https://shrouded-sands-96456.herokuapp.com/companies/")
	    .success(function(data) {
	    	$log.info(JSON.stringify(data));
	    	$scope.companies = data._embedded.companies;
	    });
});

angular.module('myApp').controller('ModalInstanceCtrl', function ($log,$http,$scope, $uibModalInstance, selectedCompany) {

	  $scope.selected = {
	    item: selectedCompany
	  };

	  $scope.add = function(newName) {
	      var ownerNew = {name:newName};
		  if($scope.selected.item.owners != null){
	        $scope.selected.item.owners.push(ownerNew);
		  }else{
			  $scope.selected.item.owners = [];
			  $scope.selected.item.owners.push(ownerNew);
		  }
	    };
	    
	    
	  $scope.ok = function () {
		  if($scope.selected.item.companyId != null){
			  $log.info(JSON.stringify($scope.selected.item));
			  var res = $http.put($scope.selected.item._links.self.href, $scope.selected.item);
				res.success(function(data, status, headers, config) {
					  $log.info("success Updaring");
				});
				res.error(function(data, status, headers, config) {
					alert( "failure message: " + status + JSON.stringify({data: data}));
				});
		  }else{
			  $log.info("Inside Post Case");
			  var res = $http.post('https://shrouded-sands-96456.herokuapp.com/companies/', $scope.selected.item);
				res.success(function(data, status, headers, config) {
					$log.info("Inside Post Case" + JSON.stringify(data));
					$scope.companies.push(data);  
					$log.info("success Posting");
				});
				res.error(function(data, status, headers, config) {
					$log.info( "failure message: " + status + JSON.stringify({data: data}));
				});
		  }
		  $uibModalInstance.close($scope.selected.item);
	  };

	  $scope.cancel = function () {
	    $uibModalInstance.dismiss('cancel');
	  };
	});
</script>
</head>
<body ng-app="myApp" ng-controller="companiesCtrl">
    <form class="form-inline" role="form">
       <div class="container">
  <h2>Company</h2>
  <p><button class="btn btn-primary" type="button" ng-click="open('lg',null)">Create Company</button></p>            
    <script type="text/ng-template" id="myModalContent.html">
	<form name = "companyForm" novalidate>        
 		<div class="modal-header">
            <h3 class="modal-title">Edit Company</h3>
        </div>
        <div class="modal-body form-horizontal">
			<div class="form-group">
				 <div class="col-xs-3 text-right">
					<label for="usr">Name:</label>
				</div>
				 <div class="col-xs-9">
 				 	<input type="text" class="form-control" ng-model="selected.item.name" required="">
				</div>		
 			</div>

		 <div class="form-group">
				<div class="col-xs-3 text-right"> 
				<label for="usr">Address:</label>
				</div>
				<div class="col-xs-9">
 			 	<input type="text" class="form-control" ng-model="selected.item.address" required="">
				</div>
 		</div>

	    <div class="form-group">				
				 <div class="col-xs-3 text-right"> 
				 <label for="usr">City:</label>
				</div>
 				<div class="col-xs-9"> 
					<input type="text" class="form-control" ng-model="selected.item.city" required="">
				</div>
			</div>
			<div class="form-group"> 				 
					<div class="col-xs-3 text-right"> 
					 	<label for="usr">Country:</label>
					</div>
 				 	<div class="col-xs-9"> 
					 <input type="text" class="form-control" ng-model="selected.item.country" required="">
					</div>
				</div>
				 <div class="form-group"> 				 
					<div class="col-xs-3 text-right"> 
						<label for="email">Email:</label>
					</div>
 					<div class="col-xs-9"> 
						<input type="text" class="form-control" ng-model="selected.item.email">
					</div>
				</div>
 				<div class="form-group"> 				 
					<div class="col-xs-3 text-right"> 
						<label for="email">Phone:</label>
					</div>
 				 	<div class="col-xs-9"> 
						<input type="text" class="form-control" ng-model="selected.item.phoneNumber">
					</div>
				</div>
			
					<div class="form-group">
  					<div class="col-xs-3 text-right"> <label for="email">Owners:</label></div>
 					<div class="col-xs-9"> 
						<ul  ng-repeat="owner in selected.item.owners">
							<li>
								<label for="owner">{{ owner.name }}</label>
					  			<button class="btn btn-primary" type="button" ng-init = "showDetails=true" ng-click="selected.item.owners.splice($index,1);showDetails = false" ng-show="showDetails">Remove</button>
							</li>
						</ul>
					</div>
					</DIV>
					<div class="form-group">
  					<div class="col-xs-3 text-right"> <label for="email"> New Owner Name:</label></div>	
						<div class="col-xs-7"> 
						 	<input type="text" ng-model="newName" class="form-control">
						</div> 
					<div class="col-xs-1"> <button class="btn btn-primary" type="button" ng-click="add(newName);newName=null">Add Owner</button></div>
				</div>
 		</div>	
        <div class="modal-footer">
            <button class="btn btn-primary" type="submit" ng-disabled="companyForm.$invalid" ng-click="ok()">Save</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
	</form> 
    </script>
  
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Company Id</th>
        <th>Name</th>
        <th>Address</th>
        <th>City</th>
        <th>Country</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="company in companies">
       <td>{{ company.companyId }}</td>
        <td>{{ company.name }}</td>
        <td>{{ company.address }}</td>
        <td>{{ company.city }}</td>
        <td>{{ company.country }}</td>
        <td>{{ company.email }}</td>
        <td>{{ company.phoneNumber }}</td>
        <td><button type="button" class="btn btn-primary" ng-click="open('lg',company)">Edit</button></td>
      </tr>
    </tbody>
  </table>
</div>
    </form>

</body>
</html>